# Pandas DataFrame Visualization Tools (overview)

Chris Moffitt. "Pandas DataFrame Visualization Tools". _Practical Business Python_, January 11, 2021, https://pbpython.com/dataframe-gui-overview.html. Retrieved January 15, 2021.

**Dependencies**: pandas and openpyxl (xlrd cannot handle xlsx files)

In [2]:
import numpy as np
import pandas as pd

In [3]:
url = 'https://github.com/chris1610/pbpython/blob/master/data/2018_Sales_Total_v2.xlsx?raw=True'

In [4]:
df = pd.read_excel(url)

In [5]:
df

,account number,name,sku,quantity,unit price,ext price,date
0,740150,Barton LLC,B1-20000,39,86.69,3380.91,2018-01-01 07:21:51.000002
1,714466,Trantow-Barrows,S2-77896,-1,63.16,-63.16,2018-01-01 10:00:47.000004
2,218895,Kulas Inc,B1-69924,23,90.70,2086.10,2018-01-01 13:24:57.999997
3,307599,"Kassulke, Ondricka and Metz",S1-65481,41,21.05,863.05,2018-01-01 15:05:21.999995
4,412290,Jerde-Hilpert,S2-34077,6,83.21,499.26,2018-01-01 23:26:55.000003
...,...,...,...,...,...,...,...
1502,424914,White-Trantow,B1-69924,37,42.77,1582.49,2018-11-27 14:29:02.000003
1503,424914,White-Trantow,S1-47412,16,65.58,1049.28,2018-12-19 15:15:41.000000
1504,424914,White-Trantow,B1-86481,75,28.89,2166.75,2018-12-29 13:03:54.000000
1505,424914,White-Trantow,S1-82801,20,95.75,1915.00,2018-12-22 03:31:35.999996
1506,424914,White-Trantow,S2-83881,100,88.19,8819.00,2018-12-16 00:46:26.000003

## Qantopian's qgrid
Homepage: https://github.com/quantopian/qgrid

To install:
```
$ pip install qgrid
$ jupyter nbextension enable --py --sys-prefix qgrid
```
Following only required if you have not enabled the ipywidgets nbextension yet:

```
$ jupyter nbextension enable --py --sys-prefix widgetsnbextension
```
Close jupyter and start new session.

In [6]:
import qgrid
widget = qgrid.show_grid(df, show_toolbar=True)
widget

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defau…

## PivottableJs
Homepage: https://github.com/nicolaskruchten/jupyter_pivottablejs

```
$ pip install pivottablejs
```
Select "Table", "Sum", "quantity" and then drag "name" field from header into box.

In [7]:
from pivottablejs import pivot_ui
pivot_ui(df)

## PandasGUI
Homepage: https://github.com/adamerose/pandasgui

```
$ pip install pandasgui
```

In [8]:
from pandasgui import show
show(df)